<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bank</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<nav class="navbar navbar-light bg-faded">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="/accounts">Bank</a>
        <ul class="navbar-nav">
            <li class="hidden-xs-down nav-item">
                <a class="nav-link disabled">
                    Your account
                </a>
            </li>
            <li class="hidden-sm-up nav-item dropdown">
                <a class="nav-link dropdown-toggle" href id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Your account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="account.ejs">Accounts</a>
                    <a class="dropdown-item" href>Transfer</a>
                    <a class="dropdown-item" href>Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="hidden-xs-down col-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="account.ejs" class="nav-link active" href>Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href>Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href>Settings</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Log Out</a>
                </li>
            </ul>
        </div>